---
import "../styles/global.css";
import Header from "../components/Header.astro";

interface Props {
    title?: string;
    description?: string;
}

const{
    title = "Quinn Reams | Portfolio",
    description = "Makreting and data analytics portfolio for Quinn Reams."
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <title>{title}</title>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-9PK7HJ2VSZ"></script>
        <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9PK7HJ2VSZ');
        </script>
    </head>
    <body>
      <div id="top"></div>
      <Header />
      <main>
        <slot />
      </main>
    </body>
</html>