---
import "../styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const{
    title = "Quinn Reams | Portfolio",
    desciption = "Makreting and data analytics portfolio for Quinn Reams."
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={desciption} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>